
  <table>
    <tr>
      <th>Your Cart</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total</th>
    </tr>
    <td>{{product.title}}</td>
    <td>{{product.price}}</td>
    <td>1</td>
    <td>Total</td>
  </table>
