img  {
  width: 100%;
}

td {
  padding: 10px;
  border-bottom: 1px solid whitesmoke;
}

th {
  padding: 10px;
  border-bottom: 1px solid whitesmoke;
}

.cart-title {
  font-size: 25px;
}

.thumbnail {
  width: 100px;
}
