<h3>Products</h3>
<div>

  <img class="suitcase" src="https://www.hautelookcdn.com/mms/57bdc03684887.jpg" alt="" />
  <h2 class="offer">50% Off Luggage!</h2>
  <hr>
  {{#each model.products as |product|}}
  {{product-tile product=product}}
  {{/each}}
</div>
